<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56010970512-2g66vbbll5h38h9j22i6158r1jo8edto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56010970512-2g66vbbll5h38h9j22i6158r1jo8edto</string>
	<key>API_KEY</key>
	<string>AIzaSyAcVilpGEdD6V2ZQTKnhM3FUmED1fmuiHg</string>
	<key>GCM_SENDER_ID</key>
	<string>56010970512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetotime04Flutter</string>
	<key>PROJECT_ID</key>
	<string>projetotime4</string>
	<key>STORAGE_BUCKET</key>
	<string>projetotime4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56010970512:ios:d81df667dba84236550f15</string>
</dict>
</plist>